<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Справочник товаров", "Index", "Goods")</h2>
        <p>Просмотр, инвентаризация, добавление, удаление, восстановление списка товаров.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Журнал уведомлений оборотов", "Index", "TurnoverNotices")</h2>
        <p>Просмотр уведомлений оборотов на сегодня для текущего склада.</p>
    </div>
</div>

