.accordion {
    width: 100%;
    min-height: 0;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #fefffa;
    overflow: hidden
}
.accordion .title_block {        
    margin: 0;
    padding: 10px 25px;
    cursor: pointer;       
    background: beige;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
.msg {
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translate(0, 0);
}
.msg p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 0 20px
}
@media (max-width: 550px) {
    .accordion {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
}
.accordion ul {
    list-style: none;
    perspective: 900px;
    padding: 0;
    margin: 0;
}
.accordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
}
.accordion ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}

.accordion ul li:nth-of-type(2) {
    animation-delay: 1s;
}

.accordion ul li:last-of-type {
    padding-bottom: 0;
}
.accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    max-width: 100%;
}
.accordion ul li input[type=checkbox]:checked ~ div.msg {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
div.msg {
    transition: all 0.5s ease-in-out;
}